@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body,
.wrapper {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
}
body {
  padding: 2vh 2vw;
}
.wrapper {
  min-height: 90vh;
  min-width: 90vw;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #000;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.form.register .auth {
  order: 2;
}
@media (max-width: 767px) {
  .form {
    flex-direction: column;
    padding-top: 30px;
  }
  .form.register .auth {
    order: 0;
  }
}
.auth {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}
.auth__title {
  line-height: 1.66em;
  font-weight: 700;
  color: #222;
  font-family: Poppins;
  font-size: 3em;
  margin-bottom: 33px;
}
.auth__form {
  width: 100%;
}
.auth__input {
  position: relative;
  margin-bottom: 25px;
}
.auth__input label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #222;
}

.auth__input input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  outline: none;
}
.auth__input input:focus {
  border-bottom: 1px solid #222;
}

.error {
  height: auto;
  min-height: 20px;
  width: 20px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 25px);
  right: 10px;
  transform: translateY(calc(-50% + 25px));
  z-index: 100;
  color: black;
  transition: width 0.5s;
}
.error:hover {
  width: auto;
  padding: 0 10px;
}
.error_msg {
  font-weight: 600;
  display: none;
  margin-right: 10px;
}
.error:hover .error_msg {
  display: block;
}
/**************** <CustomPasswordInput/> ****************/
.auth__input-password-wrapper {
  position: relative;
}
.auth__input-password-wrapper .toggle-show {
  position: absolute;
  top: calc(50% - 25px);
  right: 10px;
  transform: translateY(calc(-50% + 25px));
}
.auth__input-password-wrapper .error {
  margin-right: 20px;
}
/**************** <AuthButton/> ****************/
.auth__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: 130px;

  padding: 15px 39px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
}
.auth__button:hover {
  letter-spacing: 2px;
  background-color: darkblue;
}
.auth__button:active,
.auth__button:focus {
  animation: click 0.5s;
}
@keyframes click {
  0% {
    box-shadow: 0 0 1px darkblue;
  }
  100% {
    box-shadow: 0 0 70px darkblue;
  }
}
/**************** <SocLogin/> ****************/
.social-login {
  display: flex;
  align-items: center;
}
.social-label {
  display: inline-block;
  margin-right: 15px;
}
.socials {
  display: flex;
  list-style-type: none;
}
.socials li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 1.5em;
  margin-right: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 1px #000;
}
.socials li:hover {
  box-shadow: 0px 0px 5px #000;
}
.socials li:hover a {
  color: #000;
}
.socials li a {
  color: #222;
  text-decoration: none;
}
/**************** <SignImage/> ****************/
.sign-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sign-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sign-image p {
  width: 100%;
  text-align: center;
}
.sign-image p a {
  user-select: none;
  font-size: 1.1em;
  color: #222;
  text-decoration: underline;
  cursor: pointer;
}
.sign-image p a:hover {
  color: red;
}
/**************** <home page/> ****************/
.home {
  position: relative;
  min-width: 100%;
  height: 90vh;
  display: flex;
}
.home a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
  color: #000;
}
.home a:before {
  content: "<";
}
.home a:after {
  content: "/>";
}
.home a:after,
.home a:before {
  opacity: 0;
  margin: 0 30px;
  transition: all 0.5s;
}
.home a:hover:after,
.home a:hover:before {
  margin: 2px;
  opacity: 1;
}

.home a:first-of-type {
  background-color: rgba(255, 0, 0, 0.3);
}
.home a:first-of-type:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
.home a:last-of-type {
  background-color: rgba(0, 0, 255, 0.3);
}
.home a:last-of-type:hover {
  background-color: rgba(0, 0, 255, 0.5);
}
